__pycache__/
*.pyc
.ipynb_checkpoints/report.pdf
*.pdf
.tmp/
.venv/report.pdf
*.pdf
.venv_cuda/
venv/
test_write.tmpreport.pdf
*.pdf

# No subir dataset
Proyecto 1 Data set/

# Artefactos
outputs/
models/*.pt
models/*.pth

# Colab / auxiliares no usados en entrega final
colab_pipeline.ipynb
COLAB.md
run_full_pipeline_colab.sh
2.transfer_learning.ipynb

# Imagenes de prueba personales
inference_images/*
!inference_images/README.txt
